<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale = 1">
    <title>CSS Card Flip</title>
  </head>

  <body>
    <div *ngIf="jugando" class="container" [style]="containerStyle">

      <div *ngFor="let carta of cartas; index as i" class="thecard" id="{{i}}">
        <div class="thefront" (click)="girarCarta(i,carta)">?</div>

        <div *ngIf="esNumero(carta); then thenBlock else elseBlock" class="theback"></div>

        <ng-template #thenBlock><div class="theback">{{carta}}</div></ng-template>
        <ng-template #elseBlock><div class="theback"> <img src="{{carta}}" width="100%" height="100%"></div></ng-template>

      </div>
    </div>


    <div *ngIf="!jugando" class="menuContainer" [style]="containerStyle">

      <div class="playButton" (click)="iniciarJuego()">Jugar</div>

      <p>Tamaño del tablero (Columnas x filas):</p>

      <div class="inputFilas">
        <input type="number" [formControl]="numeroColumnas">
        <p>X</p>
        <input type="number" [formControl]="numeroFilas">
      </div>
      
      <p>Añadir imagenes personalizadas a las tarjetas (url):</p>
      <input type="text" style="width: 500px;" placeholder="url de la imagen..." [formControl]="url" (keydown.enter)="introducirUrl() ">

    </div>

  </body>
</html>