*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #3C5377;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    }

.container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    border: solid #5B6DCD 10px;
}
/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecardRotated{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5B6DCD;
  font-weight: 700;
  font-size: 70px;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #b9b9b9;
  text-align: center;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 60px;
}

.menuContainer{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    border: solid #5B6DCD 10px;

}

.playButton{
    background-color: #ffc728;
    cursor: pointer;

    padding: 10px 20px;
    font-size: 30px;

    border: solid #daa000 4px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.playButton:hover{
    background-color: #daa000;
}

p{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.inputFilas{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
  background-color: #577ab3;
  border: solid #5B6DCD 3px;
  border-radius: 10px;
  width: 50px;
  text-align: center;
  -moz-appearance: textfield;
  color: white;
  font-size: 20px
}

input::placeholder {
  color: rgb(204, 204, 204);
}

input::-webkit-outer-spin-button, /*Esto quita las flechas de un input tipo number*/
  input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
  }

  input[type=number] {
      -moz-appearance: textfield;
  }